assignment2.txt
[{"id":"5f47354b.e14a0c","type":"http in","z":"b5132a36.e1f278","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":70,"y":115,"wires":[["2031f456.93683c"]]},{"id":"5b06f6bb.6da638","type":"http response","z":"b5132a36.e1f278","name":"http","statusCode":"","headers":{},"x":621,"y":186,"wires":[]},{"id":"2031f456.93683c","type":"function","z":"b5132a36.e1f278","name":"time","func":"msg.headers = {\"Content-type\" : \"application/json\"}\nvar d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nif(hh.toString().length == 1) {\n  var hh = '0' + hh;\n}\nif(mm.toString().length == 1) {\n  var mm = '0' + mm;\n}\n\nflow.set('timet', hh + ':' + mm);\n\nmsg.payload = {\"time\": hh + ':' + mm};\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":107,"wires":[["5b06f6bb.6da638"]]},{"id":"23262e3b.18b6a2","type":"http in","z":"b5132a36.e1f278","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":65,"y":181,"wires":[["c3c12769.eb1ce8"]]},{"id":"a687e95.a197e18","type":"http in","z":"b5132a36.e1f278","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":80.5,"y":295,"wires":[["1530be4d.ea7f62"]]},{"id":"f3fc5bb8.39d458","type":"function","z":"b5132a36.e1f278","name":"random","func":"msg.headers = {\"Content-type\" : \"application/json\"}\nvar d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nif(hh.toString().length == 1) {\n  var hh = '0' + hh;\n}\nif(mm.toString().length == 1) {\n  var mm = '0' + mm;\n}\n\nvar r = msg.randomizer;\n\nflow.set('rand', r);\nflow.set('randt', hh + ':' + mm );\n\nmsg.payload = {\"random\": r }\nreturn msg;","outputs":1,"noerr":0,"x":385.5,"y":187,"wires":[["5b06f6bb.6da638"]]},{"id":"1530be4d.ea7f62","type":"function","z":"b5132a36.e1f278","name":"page","func":"msg.headers={\"Content-Type\":\"text/html\"}\n\nvar timet = flow.get('timet');\nvar rand = flow.get('rand');\nvar randt = flow.get('randt');\n\nif(typeof timet === 'undefined' && typeof rand === 'undefined'){\n    msg.payload = 'No server time requests have been received <br>No requests for random numbers have been received';\n    \n}else if(typeof rand === 'undefined'){\n    msg.payload = 'Time last server time request received at ' + timet + '<br>No requests for random numbers have been received';\n    \n}else if(typeof timet === 'undefined'){\n    msg.payload = 'No requests for random numbers have been received <br>Last random number request returned ' + rand + ', which was received at ' + randt;\n}else{\n    msg.payload = 'Time last server time request received at ' + timet + '<br>Last random number request returned ' + rand + ', which was received at ' + randt;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":375.5,"y":286,"wires":[["5b06f6bb.6da638"]]},{"id":"c3c12769.eb1ce8","type":"random","z":"b5132a36.e1f278","name":"","low":"1","high":"100","inte":"true","property":"randomizer","x":223.5,"y":181,"wires":[["f3fc5bb8.39d458"]]},{"id":"91c4895.11a7878","type":"inject","z":"b5132a36.e1f278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.5,"y":366,"wires":[["74ce6f40.a663e"]]},{"id":"74ce6f40.a663e","type":"function","z":"b5132a36.e1f278","name":"cleans","func":"flow.set(\"timet\", undefined);\nflow.set(\"rand\", undefined);\nflow.set(\"randt\", undefined);\n\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":367,"wires":[[]]}]
