assignment1.txt
[{"id":"c968075e.708098","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c0e7be54.d6d36","type":"inject","z":"c968075e.708098","name":"Inject","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":170,"y":220,"wires":[["2468e68b.dba19a"]]},{"id":"5905dca1.bbbcd4","type":"debug","z":"c968075e.708098","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":708,"y":216,"wires":[]},{"id":"2468e68b.dba19a","type":"random","z":"c968075e.708098","name":"Random","low":"0","high":"10","inte":"true","property":"random","x":328.5,"y":219,"wires":[["235eb852.cbb558"]]},{"id":"235eb852.cbb558","type":"function","z":"c968075e.708098","name":"Message function","func":"if(msg.random < 5){\n    var msg1 = { payload:\"Number \" + msg.random + \" is a low number\" };\n    return msg1\n}\nif(msg.random >= 5){\n  var msg1 = { payload:\"Number \" + msg.random + \" is a high number\" };\n    return msg1 \n}\n","outputs":1,"noerr":0,"x":525.5,"y":217,"wires":[["5905dca1.bbbcd4"]]}]
