assignment4/assignment4bluemix.txt
[{"id":"7876d003.184e7","type":"tab","label":"Flow 1"},{"id":"a0402f6e.59fb4","type":"ibmiot in","z":"7876d003.184e7","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"motion","commandType":"","format":"json","name":"Input From Remote Pi","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":140,"y":120,"wires":[["72250237.90425c"]]},{"id":"c9e42a0f.153308","type":"debug","z":"7876d003.184e7","name":"Debug Raw Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.handler","x":627,"y":76,"wires":[]},{"id":"72250237.90425c","type":"function","z":"7876d003.184e7","name":"Check for Earthquakes","func":"var x = msg.payload.d.acceleration.x;\nvar y = msg.payload.d.acceleration.y;\nvar z = msg.payload.d.acceleration.z;\n\nvar old_x = flow.get('old_x');\nvar old_y = flow.get('old_y');\nvar old_z = flow.get('old_z');\n\nvar elapsed = new Date().getTime() - flow.get('start');\n\nvar accel = Math.abs(x+y+z);\n\nif (accel > 4) {\n    msg.payload.handler = 2;\n    var start = new Date().getTime();\n    flow.set('old_x', x);\n    flow.set('old_y', y);\n    flow.set('old_z', z);\n    flow.set('start', start);\n} else if (accel > 1.7 && accel < 4) {\n    msg.payload.handler = 1;\n    var start = new Date().getTime();\n    flow.set('start', start);    \n    flow.set('old_x', x);\n    flow.set('old_y', y);\n    flow.set('old_z', z);\n} else if (accel < 1.7 && elapsed > 4000) {\n    msg.payload.handler = 0;\n    flow.set('old_x', x);\n    flow.set('old_y', y);\n    flow.set('old_z', z);\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["d25a9cd3.65778","c9e42a0f.153308"]]},{"id":"d25a9cd3.65778","type":"ibmiot out","z":"7876d003.184e7","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"2","deviceType":"raspberryGW","eventCommandType":"effect","format":"json","data":"effect","qos":0,"name":"Output To Remote Pi","service":"registered","x":636,"y":142,"wires":[]}]
