assignment4/assignment4pi.txt
[{"id":"8deef4c.7fe0008","type":"tab","label":"Flow 1"},{"id":"ddbf89c3.a70478","type":"function","z":"8deef4c.7fe0008","name":"Shake Detector","func":"return msg;\n","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["bc1e3c4a.272b6","4ae40f73.5d43e"]]},{"id":"2a654d95.1795a2","type":"rpi-sensehat in","z":"8deef4c.7fe0008","name":"","motion":true,"env":false,"stick":false,"x":90,"y":200,"wires":[["37fd2d56.542122"]]},{"id":"bc1e3c4a.272b6","type":"debug","z":"8deef4c.7fe0008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":240,"wires":[]},{"id":"37fd2d56.542122","type":"delay","z":"8deef4c.7fe0008","name":"Delay 1 second","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":270,"y":200,"wires":[["ddbf89c3.a70478"]]},{"id":"13733d29.a888b3","type":"debug","z":"8deef4c.7fe0008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":320,"wires":[]},{"id":"fa6f138f.437ea","type":"function","z":"8deef4c.7fe0008","name":"OFF","func":"if(msg.payload.handler === 0 ) {\n    msg.payload = \"*,*,off\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["733236d4.98a758"]]},{"id":"733236d4.98a758","type":"rpi-sensehat out","z":"8deef4c.7fe0008","name":"Sense Hat Output","x":690,"y":420,"wires":[]},{"id":"d4c48138.ba528","type":"function","z":"8deef4c.7fe0008","name":"screen off","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[[]]},{"id":"ab96c5e2.18a3d8","type":"rpi-sensehat in","z":"8deef4c.7fe0008","name":"Clear LED Panel","motion":true,"env":false,"stick":false,"x":100,"y":120,"wires":[["d4c48138.ba528"]]},{"id":"2760faa0.080476","type":"function","z":"8deef4c.7fe0008","name":"Yellow","func":"if (msg.payload.handler === 1) {\n    msg.payload = \"*,*,yellow\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["733236d4.98a758"]]},{"id":"88cff15c.a94fc","type":"switch","z":"8deef4c.7fe0008","name":"","property":"payload.handler","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":420,"wires":[["fa6f138f.437ea"],["2760faa0.080476"],["abe0b567.d494f8"]]},{"id":"abe0b567.d494f8","type":"function","z":"8deef4c.7fe0008","name":"Red","func":"if (msg.payload.handler === 2) {\n    msg.payload = \"*,*,red\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["733236d4.98a758"]]},{"id":"d938498b.2a7218","type":"wiotp in","z":"8deef4c.7fe0008","authType":"d","deviceKey":"663b5ff1.3c47","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Input to bluemix","x":100,"y":320,"wires":[["13733d29.a888b3","88cff15c.a94fc"]]},{"id":"4ae40f73.5d43e","type":"wiotp out","z":"8deef4c.7fe0008","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"663b5ff1.3c47","deviceType":"raspberryGW","deviceId":"2","event":"motion","format":"json","name":"Output to bluemix","x":690,"y":160,"wires":[]},{"id":"663b5ff1.3c47","type":"wiotp-credentials","z":"","name":"raspberryPi","org":"7k01wu","devType":"raspberryPi","devId":"1"}]
