assignment3/assignment3pi.txt
[{"id":"d9b693b5.66d13","type":"rpi-sensehat in","z":"8453bd8d.9b49c","name":"","motion":false,"env":true,"stick":false,"x":100,"y":200,"wires":[["71d4b798.f0b868"]]},{"id":"71d4b798.f0b868","type":"function","z":"8453bd8d.9b49c","name":"timestamp","func":"msg.headers = {\"Content-type\" : \"application/json\"}\nvar d = new Date();\nvar hh = d.getHours();\nvar mm = d.getMinutes();\nif(hh.toString().length == 1) {\n  var hh = '0' + hh;\n}\nif(mm.toString().length == 1) {\n  var mm = '0' + mm;\n}\n\nmsg.payload = \n    {\"d\" : {\n                \"timestamp\": hh + ':' + mm,\n                \"temp\": msg.payload.temperature,\n                \"humidity\": msg.payload.humidity,\n                \"pressure\": msg.payload.pressure\n            }\n    };\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["8e09c92.4ad1f38","b79c6171.c8dfd","4656edc9.bfae24"]]},{"id":"8e09c92.4ad1f38","type":"wiotp out","z":"8453bd8d.9b49c","authType":"d","qs":"true","qsDeviceId":"8e09c92.4ad1f38","deviceKey":"","deviceType":"","deviceId":"","event":"weather","format":"json","name":"quickstart connection","x":450,"y":200,"wires":[]},{"id":"b79c6171.c8dfd","type":"debug","z":"8453bd8d.9b49c","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":440,"y":280,"wires":[]},{"id":"4656edc9.bfae24","type":"wiotp out","z":"8453bd8d.9b49c","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"66f50fa8.89315","deviceType":"raspberryGW","deviceId":"2","event":"event","format":"json","name":"gateway connection","x":460,"y":400,"wires":[]},{"id":"66f50fa8.89315","type":"wiotp-credentials","z":"","name":"","org":"7k01wu","devType":"raspberryGW","devId":"2"}]
