assignment3/assignment3bluemix.txt
[{"id":"b58b339.22b52d","type":"ibmiot in","z":"1fee9576.6a12db","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":83,"y":159,"wires":[["e8415b4e.3646a8","466d742c.7d601c"]]},{"id":"f20f75f6.5df598","type":"inject","z":"1fee9576.6a12db","name":"clear stored values","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":72,"wires":[["d2a8a107.f920c"]]},{"id":"d2a8a107.f920c","type":"function","z":"1fee9576.6a12db","name":"cleans","func":"flow.set(\"times\", undefined);\nflow.set(\"humid\", undefined);\nflow.set(\"press\", undefined);\nflow.set(\"temperature\", undefined);\n\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":72,"wires":[[]]},{"id":"e8415b4e.3646a8","type":"debug","z":"1fee9576.6a12db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":279,"y":158,"wires":[]},{"id":"7bca0fc1.f5f66","type":"http in","z":"1fee9576.6a12db","name":"[get] /weather","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":100,"y":303,"wires":[["df1d0709.e2d3f8"]]},{"id":"df1d0709.e2d3f8","type":"function","z":"1fee9576.6a12db","name":"handle weather web requests","func":"msg.headers={\"Content-Type\":\"text/html\"}\nvar times = flow.get('times');\nvar temperature = flow.get('temperature');\nvar humid = flow.get('humid');\nvar press = flow.get('press');\n\nif(typeof temperature === 'undefined' || typeof humid === 'undefined' || typeof press === 'undefined')\n    msg.payload = 'No weather events received yet';\nelse \n    msg.payload = 'Temperature ' + temperature + ', humidity ' + humid + ' and pressure ' + press + ' were detected at ' + times;\n\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":303,"wires":[["9503da2c.e66c58"]]},{"id":"9503da2c.e66c58","type":"http response","z":"1fee9576.6a12db","name":"http","statusCode":"","headers":{},"x":521,"y":383,"wires":[]},{"id":"466d742c.7d601c","type":"function","z":"1fee9576.6a12db","name":"handle weather events","func":"flow.set('times',msg.payload.d.timestamp);\n\nflow.set('temperature',msg.payload.d.temp);\nflow.set('humid',msg.payload.d.humidity);\nflow.set('press',msg.payload.d.pressure);\n\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":211,"wires":[[]]}]
